* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}

body {
    font-weight: bold;
    background-color: #c8c8c8;
}

button {
    width: 140px;
    height: 70px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bolder;
}

main, .backgroundForm {
    max-width: 1100px;
    color: black;
    margin: 30px auto;
    border-radius: 25px 25px 0px 0px;
    background-color: white;
}

main>h1, .backgroundForm>h1 {
    margin: 2rem 0px 0px 4rem;
}

td {
    border: 1px solid black;
    border-radius: 25px 0px 0px 25px;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    padding: 0px 15px 0px 15px;
    height: 50px;
}

thead>tr {
    font-size: 1.3rem;
}

#painelCadastro {
    height: 630px;
    background-image: url("./imgs/estacionamento1366X766.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}

#painelCadastro>h1 {
    color: black;
    font-size: 2.6rem;
    font-style: italic;
    padding: 30px 0px 102px 0px;
    text-align: center;
}

#cadastroCliente {
    width: 95vw;
    max-width: 1100px;
    height: 374px;
    position: relative;
    color: black;
    background-color: white;
    margin: auto;
    border-radius: 220px 0px 0px 0px;
}

#cadastroCliente>h1 {
    text-align: center;
    padding-top: 30px;
    font-size: 1.7rem;
}

#cadastroCliente>div {
    padding: 40px 66px 0px 315px;
}

#cadastroCliente input {
    display: block;
    width: 90vw;
    max-width: 500px;
    height: 30px;
    border-radius: 100px;
    border: 2px solid black;
    margin: 10px 0px 10px 0px;
    outline: none;
    padding-left: 20px;
}

#cadastroCliente input:nth-child(4) {
    width: 200px;
}

#placaDoCarro {
    text-transform: uppercase;
}

/* Modal */

.modal {
    width: 100vw;
    height: 100vh;
    background-color: #00000090;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -10;
    opacity: 0;
    user-select: none;
    transition: all .3s;
}

.modal.active {
    z-index: 5000;
    opacity: 1;
}

.modal-content {
    width: 50vw;
    margin: 15vh auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}

.modal-footer {
    text-align: right;
    height: 100px;
    gap: 20px;
    border-top: 1px solid #DDDDDD;
    border-radius: 0 0 5px 5px;
    padding: 0 20px;
    background-color: inherit;
}

/* FORMATAÇÃO DA TABELA */

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
}

.modal-header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    border-radius: 5px 5px 0 0;
    background-color: inherit;
}

.modal-header>h1 {
    margin: 0 auto;
    color: black;
    font-weight: normal;
    text-shadow: 0px 0px 1px grey;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.input-field {
    width: calc(70% - 10px);
    height: 40px;
    padding: 0 14px;
    font-size: 16px;
    border-radius: 3px;
    border-style: none;
    outline-style: none;
    border: 1px solid #DDDDDD
}

.input-field:focus {
    border: 2px solid #1fb6ff;
}

.close-button {
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 40px;
    color: lightslategray;
}

.close-button:hover {
    background-color: #ff4949;
    cursor: pointer;
    color: white;
    border-radius: 0 5px 0 0;
}

#tbody td:nth-child(n+2):nth-child(-n+3) {
    border-radius: 0px;
}

#tbody td:nth-child(4) {
    border-radius: 0px 25px 25px 0px;
}

#tbody td:nth-child(5) {
    border: 0px;
    border-radius: 0px;
}

.table {
    width: 1000px;
    user-select: none;
    margin: 20px auto;
    border-collapse: separate;
    border-spacing: 0px 15px;
}

.formInputMaterializado {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
}

.input-container {
    position: relative;
    margin-left: 50px;
}

.input {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
    margin-top: 50px;
}

.label {
    top: 0;
    left: 0;
    right: 0;
    color: #616161;
    display: flex;
    align-items: center;
    position: absolute;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}

.inputSengundoAdiante {
    pointer-events: none;
    margin-top: 40px
}

#modalEscolhaDeComprovante>.modal-content button {
    width: 40vw;
    margin-left: 50px;
    font-size: 1.5rem;
}

.input, .label {
    width: 100%;
    font-size: 1rem;
}

.input:valid, .input:focus {
    border-bottom: 2px solid #26a69a;
}

.input:valid+.label, .input:focus+.label {
    color: #26a69a;
    font-size: .8rem;
    top: -30px;
}

.margin-top-input {
    margin-top: 2rem;
}

.disabledInput {
    pointer-events: none;
}

.btnVerde {
    background-color: #91CB82;
}

.btnVerde:hover {
    background-color: white;
    color: black;
    border: #91CB82 3px solid;
}

.btnAmarelo {
    background-color: #26a69a;
    border: 0px;
}

.btnAmarelo:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    border: #26a69a 3px solid;
}

.btnExcluir {
    background: rgba(255, 0, 0, 0.6);
}

.displayNome {
    display: none;
}

@media (max-width: 900px) {
    #cadastroCliente {
        border-radius: 25px 25px 0px 0px;
    }
    #cadastroCliente>div {
        padding: 60px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 62.5%;
    }
    button {
        width: 96px;
        margin: 0px;
    }
    th {
        margin-top: 20px;
    }
    td{
        width: 215px;
        border-radius: 25px 25px 0px 0px;
        margin: auto;
    }
    #tbody td:nth-child(n+2):nth-child(-n+3) {
        border-radius: 0px;
    }
    #tbody td:nth-child(4) {
        border-radius: 0px 0px 25px 25px;
    }
    #tbody td:nth-child(5) {
        width: 91vw;
        
        margin: 10px 0px 30px -10px;
    }
    #tabelaClientes th:nth-child(5) {
       margin-top: 48px;
    }
    .input-field {
        width: 100%;
    }
    .table {
        display: block;
        position: relative;
        width: 100%;
    }
    .table thead, .table tbody, .table th, .table td, .table tr {
        display: block;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table tbody tr {
        display: inline-block;
    }
}

@media (max-width:480px) {
    .modal-content {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1500px) {
    #painelCadastro {
        background-image: url("./imgs/estacionamento1920x1080.jpg");
    }
}

@media (min-width: 1800px) {
    #painelCadastro {
        background-image: url("./imgs/estacionamento2168X1440.jpg");
    }
}