*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Karla', sans-serif;
}

header {
    height: 100px;
    background-color: #343a40;
    color: whitesmoke;
    text-align: center;
    line-height: 100px;
}

main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 150px);
    padding: 50px;
    gap: 50px;
}
main button{
    align-self: flex-start ;
}

footer {
    height: 50px;
    background-color: #343a40;
    color: whitesmoke;
    text-align: center;
    line-height: 50px;
}

.displayNome{
    display: none;
}

#mensagem{
    color: whitesmoke;
    position: absolute; 
    right: 0;
    top: 0;
    margin-top: 6.2rem;
    background-color: #13CE66;
    padding: 10px;   
    border-radius: 5px 0px 0px 5px;
}

/* Animação */

[data-anime]{
    opacity: 0;
    transition: .3s;
}

[data-anime="right"]{
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}